html {
  height: 100%;
  width: 100%;
}

#pic {
position: absolute;
width: 253px;
height: 379px;
left: 40px;
top: 40px;

}

#pic1 {
  position: absolute;
width: 253px;
height: 379px;
left: 40px;
top: 40px;

}

#Mary {
width: 94px;
height: 44px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;}